#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: rgb(159, 159, 67);
}

.color-title {
    font-weight: normal;
}

img {
    height: 200px;
    width: 200px;
}
